
@media(min-width:576px) {
    .navbar li .nav-link{
        border-bottom: none !important;
    }
    div.collapse {
        background: none !important;
    }
    .lead {
        padding-top: 100px !important;
    }
    .lead h2 {
        font-size:3rem;

    }
    .lead h1 {
        font-size: 5rem;
    }
    .lead .div.lines {
        margin-top: 100px !important;
    }
    .lead .learn {
        margin-bottom: 5rem !important;
    }  
    .achievement article {
        margin: 0 30px;
    }







}

@media(min-width:768px) {
    .navbar li{
        padding: 0 8px;
    }
    .navbar-brand {
        font-size: 2.1rem;
    }
    .navbar .nav-link{
        font-size:1rem;

    }
    .lead {
        padding-top: 160px!important;
    }
    .lead h2 {
        font-size:4rem;

    }
    .lead h1 {
        font-size: 8rem;
        padding-bottom: 7rem!important;
    }
    .lead .learn {
        margin-bottom: 8rem !important;
    }
    .lead .lines h6 {
        font-size: 1.5rem;
        text-align: left;
    }
    .story, 
    .services,
    .ourWork,
    .team,
    .joshua {
        padding:80px 0 90px!important;
    }
    .gallery {
        padding-top: 80px !important;
    }
    .story .par_after,
    .ourWork .par_after,
    .team .par_after,
    .gallery .par_after {
        margin-bottom: 85px !important;
    }
    .story .hover .fa{
        font-size:1.4rem;
    }
    .story .hover h6 {
        font-size: 1.1rem;
    }

    .speech .row,
    .joshua .row{
        margin-left: 65px;
    }
    .speech article{
        margin-left: 50px;
    }
    .speech aside a{
        padding: 45px;
    }
    .speech article p,
    .joshua article p{
        font-size: 1.2rem;
        text-align: left;
    }
    .speech h4{
        margin-left: 110px;
    }
    .speech .pretitle:before,
    .joshua .pretitle:before{
        content: '';
        top:75%;
        left:15%;
    }
    .joshua figure {
        font-size: 4rem;
    }

}





@media(min-width:992px) {

    .navbar li{
        padding: 0 20px;
    }
    .lead h2 {
        font-size:5.5rem;

    }
    .lead h1 {
        font-size: 10rem;
    }
    .lead .learn {
        margin-bottom: 11rem !important;
    }
    .lead .lines h6 {
        font-size: 1.7rem;
        text-align: left;
    }
    .story,
    .services,
    .ourWork,
    .team,
    .joshua{
        padding:100px 0 110px !important;
    }
    .gallery {
        padding-top:100px !important;
    }
    .story .hover .fa{
        font-size: 2rem;
    }
    .story .hover h6 {
        font-size: 1.4rem;
    }
    .achievement article {
        border-bottom: 0;   
        margin: 0;

    }
    .achievement div div div:last-of-type article {
        margin-right: -80px;

    }
    .achievement div div div:first-of-type article {
        margin-left:  -100px;

    }
    .achievement article {
        border-right: 1px solid #fff;
        margin-right: -25px;
    }
    .achievement div div div:last-of-type article{
        border-right: 0;
    }

    .achievement article h2 {
        font-size: 5rem;
    }


    .speech .row,
    .joshua .row{
        margin-left: 95px;
    }

    .speech article p,
    .joshua article p{
        font-size: 1.6rem;

    }
    .speech h4,
    .joshua h4{
        margin-left: 120px;
    }
    .speech .pretitle:before,
    .joshua .pretitle:before{
        content: '';
        top:75%;
        left:12%;


    }



}

@media(min-width:1200px) {

    .story .hover h6 {
        font-size: 1.7rem;
    }
   
    .joshua .pretitle:before{
        content: '';
        top:70%;
        left:10%;


    }
}