
@media(min-width:576px) {
    .navbar li .nav-link{
        border-bottom: none !important;
    }
    .navbar li a.active,
    .navbar li a:hover,
    .navbar li:hover .fa{
        border-bottom: none!important;
    }
    div.collapse {
        background: none !important;
    }
    .leading {
        padding-top: 100px !important;
    }
    .leading h2 {
        font-size:3rem;
    }
    .leading h1 {
        font-size: 5rem;
    }
    .leading .div.lines {
        margin-top: 100px !important;
    }
    .leading .learn {
        margin-bottom: 5rem !important;
    }  
    .achievement article {
        margin: 0 30px;
    }
    .clients article {
        text-align: left;
    }
    .clients .posttitle:after {
        content:'';
        left:8%;
    }
    .joshua figure,
    .speech aside{
       width: 70%;
    }
    
    .products {
        width: 340px;
    }
     .speech .pretitleLine,
     .joshua .pretitleLine {
        top:70%;
    }
}



@media(min-width:768px) {

    .bottom-overline {
        display: inline-block;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
    }
    .bottom-overline:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #FCE38A;
        height: 2px;
        transition-property: right;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
    .bottom-overline:hover:before, 
    .bottom-overline:focus:before, 
    .bottom-overline:active:before {
        right: 0;
    }
    .navbar li{
        padding: 0 8px;
    }
    .navbar-brand {
        font-size: 2.1rem;
    }
    .navbar .nav-link{
        font-size:1rem;
    }
    .leading {
        padding-top: 160px!important;
    }
    .leading h2 {
        font-size:4rem;
    }
    .leading h1 {
        font-size: 8rem;
        padding-bottom: 7rem!important;
    }
    .leading .learn {
        margin-bottom: 8rem !important;
    }
    .leading .lines h6 {
        font-size: 1.5rem;
        text-align: left;
    }
    .secFrame{
        padding:80px 0 90px!important;
    }
    .gallery {
        padding-top: 80px !important;
    }
    .par_after {
        margin-bottom: 85px !important;
    }
    .story .hover .fa{
        font-size:1.4rem;
    }
    .story .hover h6 {
        font-size: 1.1rem;
    }

    .speech .row,
    .joshua .row{
        margin-left: 65px;
    }
    .speech article{
        margin-left: 50px;
    }
    .speech aside a{
        padding: 45px;
    }
    .speech article p,
    .joshua article p{
        font-size: 1.2rem;
        text-align: left;
    }

    .speech aside,
    .joshua figure {
        font-size: 4rem;
         width:40%;
    }
    .blog .blog-numbers .fa:first-of-type{
        left:0%;
    }
    .blog .blog-numbers span:first-of-type {
        left:10%;
    }
    .blog .blog-numbers .fa:last-of-type{
        left:30%;
    }
    .blog .blog-numbers span:last-of-type {
        left:40%;
    }
    .blog article p,
    .blog article h6{
        font-size: 12px;
    }
    .map {
        padding: 60px 0 !important;
    }
    .map .titleRed {
        font-size: 1.75rem;
    }
    .subscribe {
        padding-top:70px!important;
    }

    footer {
        padding:0.8rem 0 1rem !important;
    }
}


@media(min-width:992px) {

    .navbar li{
        padding: 0 20px;
    }
    .leading h2 {
        font-size:5.5rem;
    }
    .leading h1 {
        font-size: 10rem;
    }
    .leading .learn {
        margin-bottom: 11rem !important;
    }
    .leading .lines h6 {
        font-size: 1.7rem;
        text-align: left;
    }
    .secFrame {
        padding:100px 0 110px !important;
    }
    .gallery {
        padding-top:100px !important;
    }
    .story .hover .fa{
        font-size: 2rem;
    }
    .story .hover h6 {
        font-size: 1.4rem;
    }
    .achievement article {
        border-bottom: 0;   
        margin: 0;
    }

    .achievement article {
        border-right: 1px solid #fff;

    }
    .achievement div div div:last-of-type article{
        border-right: 0;
    }
    .achievement article h2 {
        font-size: 5rem;
    }
    .speech .row,
    .joshua .row{
        margin-left: 95px;
    }
    .speech article p,
    .joshua article p{
        font-size: 1.6rem;
    }
 
    .blog .blog-numbers .fa:first-of-type{
        left:0%;
    }
    .blog .blog-numbers span:first-of-type {
        left:7%;
    }
    .blog .blog-numbers .fa:last-of-type{
        left:25%;
    }
    .blog .blog-numbers span:last-of-type {
        left:32%;
    }
    .blog article h6{
        font-size: 14px;
    }

}


@media(min-width:1200px) {

    .story .hover h6 {
        font-size: 1.7rem;
    }
  
    .blog article p{
        font-size: 14px;
    }

}