/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400');

html {
    font-size: 14px;
}
img {
    max-width: 100% !important;
}
body {
    position: relative;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color:#999;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif; 
    color:#333;  
}
.montFamily {
    font-family: 'Montserrat', sans-serif;
}
a, .fa {
    text-decoration: none !important;
}

.pretitle {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 1.7rem;
}
.title {
    text-transform:uppercase;
    color:#333;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    margin-bottom: 5rem;
}
.titleRed {
    text-transform:uppercase;
    color:#F38181;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    position: relative;
    margin-bottom: 5rem;
}
.title:after,
.titleRed:after{
    content: '';
    display: block;
    height: 3px;
    background-color:#F38181;
    width:60px;
    justify-content: center;
    margin: 1.5rem 0;
    position: absolute;
    top:130%;
    left:50%;
    transform: translate(-50%);
}
.lightGreen {
    background-color:#95E1D3;
}
.bg-light-pink {
    background-color: #F8F8F8;
}
.w-20 {
     width: 20%;
    max-width: 20%;
    flex-basis: 20%;
}
.w-70 {
     width: 70%;
    max-width: 70%;
    flex-basis: 70%;
}
/*HEADER*/
header {
    color:#fff !important;
    margin-bottom: 80px !important;
}
/*added jquery*/
.header-active {
    background: rgba(224, 33, 33,0.4);
}
.navbar li .nav-link{
    text-align:  center;
    border-bottom: 1px dotted #fff;
}
.navbar li:last-of-type {
    border-bottom:none;
}
.navbar-nav .nav-item:first-of-type .nav-link {
    color:#fff;
}
.navbar li a.active,
.navbar li a:hover,
.navbar li:hover .fa{
    color:#FCE38A !important;
    border-bottom: 3px solid #FCE38A !important;
}
a.navbar-brand {
    font-size: 2rem;
    color:#fff !important;
}
a.navbar-brand:hover {
    color:#FCE38A !important;
}
.navbar .nav-link{
    font-size:0.9rem !important;
}
.navbar li .fa {
    font-size:1.3rem !important;
    display:  block;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(256,256, 256)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler:hover {
    border:1px solid  #000 !important;
}
.search-wrapper .search-icon,
.shopping-wrapper .small-cart-icon {
    width: 35px;
    height: 35px;
    border:1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    margin-right: 5px;
    cursor:pointer;
}
.search-form {
    top:100%;
    left:0;
    width: 100%;
    box-shadow: 5px 10px 8px #333;
    display: none;
    z-index: 3;
}
.search-form.active {
    display: block;
}

/*products*/
.products {
    top:0%;
    right: -1000px;
    width:280px;
    height: 100%;
    transition: 1s linear;
}
.products .fa-close {
    font-size: 24px;
    font-weight: bold;
    color:#fff;
    background: #000;
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top:0;
    right: 100%;
    
}
.products.active {
    right: 0;
    transition: 1s linear;
}
.products-group-items {
   max-height: 70vh;
    overflow-y: scroll;
}
.products-counter {
    bottom: 0%;
}
.add-to-cart button {
    background: #f29129;
}
.add-to-cart button:hover {
    background: #bbb;
}
/*MAIN STARTS HERE*/

/*LEADING SECTION*/
.leading {
    background-size: cover; 
    background-position:center;
}
.leadinging a.btn {
    border:3px solid #fff;
}
.leadinging h1::after {
    content: '';
    display: block;
    height: 3px;
    background-color:white;
    width:60px;
    justify-content: center;
    margin: 1rem 0;
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%)
}
.leading .lines h6 {
    border-top: 3px solid rgba(256,256,256,0.5);
    color:rgba(256,256,256,0.7);
    line-height:50px;
    text-align: center;
}
.leading .lines h6.active {
    border-top: 3px solid #fff;
    color:#fff;
}
.leading .lines h6.active::before {
    content: '';
    display: block;
    height: 3px;
    background-color:#F38181;
    width:60px;
    justify-content: center;
    margin: 1rem 0;
    position: absolute;
    top:-23%;
    left:2.5%;
}
.leading .learn .btn:hover {
    border-color: rgba(244, 83, 66,0.8);
    background-color: #fff;
    color:rgba(244, 83, 66,0.8)!important;
}

/*STORY SECTION*/
.story  img{
    display: block;
    width: 100%;
}
.story .hover{
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
    background-image: linear-gradient(to bottom, rgba(244, 83, 66, 0.8), rgba(249, 230, 17, 0.8));
    box-shadow: 10px 10px #95E1D3;
    display: none;
}
.story .hover-items {
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.story .hover .fa{
    color:#fff;
    font-size: 1.6rem;
}
.story .hover h6 a{
    font-size: 1.7rem;
    color:#fff;
}
.story figure:hover .hover {
    display: block;
}

/*ACHIEVEMENT SECTION*/
.achievement .container {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.achievement article {
    padding: 90px 0px;
    border-bottom: 1px solid #fff;
    margin:0 40px;
}

.achievement article h2{
    font-size: 4rem;
    font-weight: bold;
    color:#fff;
}
.achievement article h6 {
    color:#fff;
}
.achievement div div div {
    margin-bottom: 0 !important;
}
/*SERVICES SECTION*/
.services aside {
    text-align: center;
}
.services aside a {
    color:#95E1D3 !important;
    font-size: 2.2rem;
}
.services article h6,
.services aside{
    text-transform: uppercase;
    padding-top: 15px;
}
.services .row .row:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

/*DESIGN SECTION*/
.design .photos .mobile {
    position: absolute;
    bottom:-18%;
    left:60%;
}
/*OUR WORK SECTION*/
.ourWork .fa {
    color:#95E1D3 !important;
    font-size: 2rem;
    margin-right: 15px;

}
.ourWork h6{
    display: inline;
}
.ourWork .card-body {
    color:#999;
    font-style:italic;
    font-weight: 300;
}
.ourWork .card-header {
    background-color: #fff;
    margin-bottom: 10pxb!important;
}
/*SPEECH  and JOSHUA SECTION*/
.speech aside{
    width:40%;
}
.joshua figure {
        width:150%;
    }

.speech aside a {
    text-decoration: none;
    font-size: 4rem;
    color:#95E1D3;
    border: 3px solid #95E1D3;
    padding: 25px;
}
.speech article p,
.joshua article p{
    font-weight: 300;
    font-size: 1rem;
    padding: 0 30px;
}

.joshua .owl-nav,
.speech .owl-nav{
    font-size: 2.5rem;
    }
    .joshua .owl-nav .owl-prev,
    .speech .owl-nav .owl-prev {
        position: absolute;
        top:30%;
        left: 0%;
    }
    .joshua .owl-nav .owl-next,
    .speech .owl-nav .owl-next{
        position: absolute;
        top:30%;
        right: 0%;
    }
    .joshua figure{
        max-width: 90%;
    }
/*TEAM SECTION*/
.team .hover {
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
    background-image: linear-gradient(to bottom, rgba(244, 83, 66, 0.8), rgba(249, 230, 17, 0.8));
    box-shadow: 10px 10px #95E1D3;
    display: none;
}
.team figure:hover .hover{
    display: block;
}
.team img {
    display: block;
    width: 100%;
}
.team .hover-items {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.team .hover-items .fa {
    text-decoration: none;
    color:#F38181;
    background-color: #FCE38A;
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 9px 11px;
    margin-right: -4px;
    border-right: 1px solid #F38181;
}
.team .hover-items .fa:hover {
    background-color:#F38181;
    color:#fff;
}

/*BRANDS SECTION*/
.brands figure img {
    display: inline-block;
    padding-right: 30px;
}
.brands figure img:hover {
    transition: 0.4s linear;
    transform: scale(1.2);
}
.brands figure img:last-of-type {
    padding-right:5px;
}
/*GALLERY SECTION*/
.gallery img {
    display: block;
    width: 100%;
}
.gallery div div {
    padding: 0;
}
.gallery figure {
    margin-bottom: 0;
}
.gallery .hover {
    width:100%;
    height: 100%;
    top:0%;
    left:0%;
    background-image: linear-gradient(to bottom, rgba(244, 83, 66, 0.8), rgba(249, 230, 17, 0.6));
    display: none;    
}

.gallery .hover-items {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.gallery .fa {
    text-decoration: none;
    font-size: 1.7rem;
    display: inline-block;
    margin-bottom: 1rem;
}
.gallery figure:hover .hover {
    display: block;
}

/*JOSHUA SECTION*/

.joshua .row .col-md-8 {
    margin-right:0;
}
/*CLIENTS SECTION*/
.clients  figure img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.clients figure img:hover {
    transition: 0.4s linear;
    transform: scale(1.2);
}
.clients article .posttitle {
    font-weight: 300;
    color:#333;
}
.clients .posttitle:after {
    content: '';
    display: block;
    height: 3px;
    background-color:#F38181;
    width:60px;
    justify-content: center;
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%);
}
/*BLOG SECTION*/
.blog img {
    display: block;
    width: 100%;
}
.blog .date {
    bottom:5%;
    left:-5%;
    background-color: #95E1D3;
    padding:10px 15px;
}
.brands
.blog .date h2,
.blog .date h6 {
    color:#fff;
    margin-bottom: 0;
}
.blog article hr {
    color:#E5E5E5;
}
.blog article .fa {
    color:#95E1D3;
    text-decoration: none;
    font-size: 16px;
}
.blog article h6 a {
    color:#333;
}
.blog article span {
    font-style: italic;
    font-weight: 300;
    color:#999;
}
.blog article .line {
    top:100%;
    color:red;
    width: 100%;
}
.blog article:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
/*MAP SECTION*/
.map .fa {
    font-size: 2.4rem;
    text-decoration: none;
    color:#F38181;
}
.map a {
    color:#F38181;
}

/*SECTION SUBSCRIBE*/
.subscribe {
    background-color: #F8F8F8;
}
.subscribe .subscribe-items-1 h2 {
    font-size: 2.5rem;
    color:#ccc;
    font-weight: bold;
}
.subscribe .subscribe-items-1 .fa {
    text-decoration: none;
    color:#95E1D3;
    font-size: 16px;
    padding: 0 4px;
}
.subscribe .subscribe-items-1 .fa:hover {
    color:#55f4d7;
}
.subscribe article form span {
    color:#fff;
    background-color: #95E1D3;
    font-weight: bold;
    padding: 0 30px;
}
.subscribe article form span:hover {
    background-color:#55f4d7;
}
.subscribe .subscribe-items-2 h6 a {
    color:#333;
    font-size: 12px;
    text-transform: uppercase;
}
.subscribe .subscribe-items-2 figure:hover img{
    opacity:0.3;
}
.subscribe .subscribe-items-3 figure img {
    display: block;
    width:100%; 
}
.subscribe .subscribe-items-3 figure {
    margin:5px;
}
.subscribe .subscribe-items-3 p a{
    color:#999;
}
.subscribe .subscribe-items-3 p:hover a{
    color:#333;
}
.subscribe .subscribe-items-3 .row div {
    padding:0;
}

.subscribe .subscribe-items-3 figure{
    overflow: hidden;
}

.subscribe .subscribe-items-3 figure img{
    transition: 0.5s linear;
}

.subscribe .subscribe-items-3 figure:hover img {
    transform: scale(1.1);
}

/*FOOTER*/
footer {
    background-color: #F8F8F8;

}

footer span {
    color:#F38181;
}

.overlay {
   position:fixed; 
   background:rgba(255,255,255,0.8);
   width:100%;
   height: 100%;
   top:0;
   left:0;
   display: none;
   z-index: 1;
}
.share-buttons {
    top:0;
    right: 7%;
}