/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400');



/*    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Kaushan Script', cursive;
*/
html {
    font-size: 14px;
}
img {
    max-width: 100%;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color:#999;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif; 
    color:#333;  
}
.montFamily {
     font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

.pretitle {
     font-family: 'Kaushan Script', cursive;
     text-align: center;
     font-size: 1.7rem;
}
.title {
    text-transform:uppercase;
    color:#333;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    margin-bottom: 5rem;
}
.title:after {
    content: '';
    display: block;
    height: 3px;
    background-color:#F38181;
    width:60px;
    justify-content: center;
    margin: 1.5rem 0;
    position: absolute;
    top:130%;
    left:50%;
    transform: translate(-50%);
}

.lightGreen {
    background-color:#95E1D3;
}
.bg-light-pink {
    background-color: #F8F8F8;
}
/*HEADER*/
header {
    color:#fff !important;
    margin-bottom: 80px !important;
}
.navbar li .nav-link{
    text-align:  center;
    border-bottom: 1px dotted #fff;
}
.navbar li:last-of-type {
    border-bottom:none;
}
.navbar li.active .nav-link,
.navbar li:hover .nav-link,
.navbar li:hover .fa{
    color:#FCE38A !important;
    border-bottom: 3px solid #FCE38A !important;
}
.navbar-brand {
    font-size: 2rem;
}
.navbar .nav-link{
    font-size:0.9rem !important;
}
.navbar li .fa {
    font-size:1.3rem !important;
    display:  block;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(256,256, 256)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*MAIN STARTS HERE*/

/*LEAD SECTION*/
.lead a.btn {
    border:3px solid #fff;
}
.lead h1::after {
    content: '';
    display: block;
    height: 3px;
    background-color:white;
    width:60px;
    justify-content: center;
    margin: 1rem 0;
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%)
}
.lead .lines h6 {
    border-top: 3px solid rgba(256,256,256,0.5);
    color:rgba(256,256,256,0.7);
    line-height:50px;
    text-align: center;
}
.lead .lines h6.active {
    border-top: 3px solid #fff;
    color:#fff;
}
.lead .lines h6.active::before {
    content: '';
    display: block;
    height: 3px;
    background-color:#F38181;
    width:60px;
    justify-content: center;
    margin: 1rem 0;
    position: absolute;
    top:-23%;
    left:2.5%;
    
}
/*STORY SECTION*/
.story  img{
    display: block;
    width: 100%;
}

.story .hover{
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
   background-image: linear-gradient(to bottom, rgba(244, 83, 66, 0.8), rgba(249, 230, 17, 0.8));
    box-shadow: 10px 10px #95E1D3;
   display: none;
}
.story .hover-items {
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.story .hover .fa{
    color:#fff;
    text-decoration: none;
    font-size: 1.6rem;
}
.story .hover h6 {
    font-size: 1.7rem;
}

.story figure:hover .hover {
    display: block;
}

/*ACHIEVEMENT SECTION*/
.achievement .container {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
.achievement article {
    padding: 90px 0px;
    border-bottom: 1px solid #fff;
    margin:0 40px;
}

.achievement article h2{
    font-size: 4rem;
    font-weight: bold;
    color:#fff;
}
.achievement article h6 {
    color:#fff;
}
.achievement div div div {
    margin-bottom: 0 !important;
}
/*SERVICES SECTION*/
.services aside {
    text-align: center;
}
.services aside a {
   color:#95E1D3 !important;
    font-size: 2.2rem;
}
.services article h6 {
    text-transform: uppercase;
}

/*DESIGN SECTION*/
.design .photos .mobile {
    position: absolute;
   bottom:-18%;
    left:60%;
    
}
/*OUR WORK SECTION*/
.ourWork .collapseTitle .fa {
    color:#95E1D3;
    font-size: 2rem;
    margin-right: 15px;
    
}
.ourWork .collapseTitle h6{
    display: inline;
    text-decoration: none;
}
.ourWork .card-body {
    color:#999;
    font-style:italic;
    font-weight: 300;
}
.ourWork .card-header {
    background-color: #fff;
    margin-bottom: 10pxb!important;
}
/*SPEECH SECTION*/
.speech .leftAngle {
     top:50%;
     left:5%;
}
.speech .rightAngle{
    top:50%;
    right: 5%;
}
.speech .leftAngle a,
.speech .rightAngle a{
    font-size: 1.5rem;
    color:#ccc;
}



.speech aside a {
    text-decoration: none;
    font-size: 4rem;
    color:#95E1D3;
    border: 3px solid #95E1D3;
    padding: 25px;
}
.speech article p {
    font-weight: 300;
    font-size: 1rem;
    padding: 0 30px;
   
}
.speech h4 {
    margin-left: 110px;
}
.speech .pretitle:before {
    content: '';
    display: block;
    height: 3px;
    background-color:#F38181;
    width:60px;
    justify-content: center;
    margin: 1rem 0;
    position: absolute;
    top:80%;
    left:10%;
    

}
/*TEAM SECTION*/
.team .hover {
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
    background-image: linear-gradient(to bottom, rgba(244, 83, 66, 0.8), rgba(249, 230, 17, 0.8));
    box-shadow: 10px 10px #95E1D3;
    display: none;
}
.team figure:hover .hover{
    display: block;
}
.team img {
    display: block;
    width: 100%;
}
.team .hover-items {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.team .hover-items .fa {
    text-decoration: none;
    color:#F38181;
    background-color: #FCE38A;
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 9px 11px;
    margin-right: -4px;
    border-right: 1px solid #F38181;
}
.team .hover-items .fa:hover {
   background-color:#F38181;
   color:#fff;
}

/*BRANDS SECTION*/
.brands figure img {
    display: inline-block;
   padding-right: 30px;
}
.brands figure img:last-of-type {
    padding-right:5px;
}
/*GALLERY SECTION*/
.gallery img {
    display: block;
    width: 100%;
}
.gallery div div {
    padding: 0;
}
.gallery figure {
    margin-bottom: 0;
}
.gallery .hover {
    width:100%;
    height: 100%;
    top:0%;
    left:0%;
    background-image: linear-gradient(to bottom, rgba(244, 83, 66, 0.8), rgba(249, 230, 17, 0.6));
    display: none;    
}

.gallery .hover-items {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.gallery .fa {
    text-decoration: none;
    font-size: 1.7rem;
    display: inline-block;
    margin-bottom: 1rem;
}
.gallery figure:hover .hover {
    display: block;
}

