/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400');



/*    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Kaushan Script', cursive;
*/
html {
    font-size: 14px;
}
img {
    max-width: 100%;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color:#999;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif; 
    color:#333;  
}
.montFamily {
     font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

.pretitle {
     font-family: 'Kaushan Script', cursive;
     text-align: center;
     font-size: 1.7rem;
}
.title {
    text-transform:uppercase;
    color:#333;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    margin-bottom: 5rem;
}
.title:after {
    content: '';
    display: block;
    height: 3px;
    background-color:#F38181;
    width:60px;
    justify-content: center;
    margin: 1.5rem 0;
    position: absolute;
    top:130%;
    left:50%;
    transform: translate(-50%);
}


/*HEADER*/
header {
    color:#fff !important;
    margin-bottom: 80px !important;
}
.navbar li .nav-link{
    text-align:  center;
    border-bottom: 1px dotted #fff;
}
.navbar li:last-of-type {
    border-bottom:none;
}
.navbar li.active .nav-link,
.navbar li:hover .nav-link,
.navbar li:hover .fa{
    color:#FCE38A !important;
    border-bottom: 3px solid #FCE38A !important;
}
.navbar-brand {
    font-size: 2rem;
}
.navbar .nav-link{
    font-size:0.9rem !important;
}
.navbar li .fa {
    font-size:1.3rem !important;
    display:  block;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(256,256, 256)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*MAIN STARTS HERE*/

/*LEAD SECTION*/
.lead a.btn {
    border:3px solid #fff;
}
.lead h1::after {
    content: '';
    display: block;
    height: 3px;
    background-color:white;
    width:60px;
    justify-content: center;
    margin: 1rem 0;
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%)
}
.lead .lines h6 {
    border-top: 3px solid rgba(256,256,256,0.5);
    color:rgba(256,256,256,0.7);
    line-height:50px;
    text-align: center;
}
.lead .lines h6.active {
    border-top: 3px solid #fff;
    color:#fff;
}
.lead .lines h6.active::before {
    content: '';
    display: block;
    height: 3px;
    background-color:#F38181;
    width:60px;
    justify-content: center;
    margin: 1rem 0;
    position: absolute;
    top:-23%;
    left:2.5%;
    
}
/*STORY SECTION*/
.story  img{
    display: block;
    width: 100%;
}

.story .hover{
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
   background-image: linear-gradient(to bottom, rgba(244, 83, 66, 0.8), rgba(249, 230, 17, 0.8));
    box-shadow: 10px 10px #95E1D3;
   display: none;
}
.story .hover-items {
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.story .hover .fa{
    color:#fff;
    text-decoration: none;
    font-size: 1.6rem;
}
.story .hover h6 {
    font-size: 1.7rem;
}

.story figure:hover .hover {
    display: block;
}
    
